h1 {
    text-align: center;
    margin-bottom: 20px;
}

div {
    text-align: center;
    margin-bottom: 20px;
}

.Music {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.AppleMusic img {
    width: 75px;
    padding: 5px;
}

.Spotify img {
    width: 70px;
    padding: 5px;
}

.AppleMusic, .Spotify {
    padding: 20px;
    text-align: center;
    width: 240px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7A1CAC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #7A1CAC;
}

p {
    margin-top: 10px;
    color: #666;
}

a {
    color: #7A1CAC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
