h1 {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7A1CAC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7A1CAC;
}

a {
    color: #7A1CAC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}
