/* Login.css */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #EBD3F8;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 1em;
}

form p {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    color: #333;
}


